    <div id = "podcast-series">
        <h2>Podcast Series</h2>
        <ul>
        {% for s in series %}
            {{ dump (s) }}
            <li>
                <a href="{{ s.route }}">{{ s.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>