/* Styling for podcast related content */
@import "compass/css3";
@import "compass/utilities";


$series-foreground: #000;
$series-background: #ccc;

.podcast-channel-header {
    width: 100%;
    clear: both;
    display: inline-block;
    border-bottom: 3px solid #000;
}
.podcast-channel-image {
    width: 25%;
    float: left;
    display: inline-block;
    border: 1px solid #000;
}

.channel-meta {
    width: 74%;
    float: left;
    display: inline-block;
    h1 {
        text-align: center;
        margin: 0;
    }
    h2 {
        text-align: center;
    }
    p.owner {
        text-align: center;
        margin: -1em 0 0 0;
    }

    p.description {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 1.2;
    }

}
.channel-links {
    float: left;
    margin-left: 2em;

}

.channel-content {
    display: inline-block;
}

#episodes {
    display: inline-block;
    clear: both;
    width: 75%;
    float: left;
    ul {
        list-style-type: none;
    }
}

.clearfix {
    clear: both;
}

#podcast-series {
    @include border-radius(2px);
    display: inline-block;
    background: $series-background;
    width: 24%;
    float: right;
    min-height: 16em;
    h2 {
        font-size: 20px;
        text-align: center;
    }
    a {
        color: $series-foreground;
    }
    a:hover {
        font-weight: bold;
    }
}