.episode-container h1,h2{
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.episode-flex-wrapper{
    display: flex;
    flex-flow: row wrap;
}
.episode-flex-child {
    flex: 1;
    border: 2px solid yellow;
    padding: 1.5em;
}

.episode-flex-child h3 {
    text-align: center;
}
.episode-top {
    flex: 0 0 100%;
    text-align: center;
}
.episode-content {
    flex: 4;
}
.episode-nav {
    border-bottom: 1px solid #3A414E;
}

@media all and (max-width:800px){
    .episode-flex-wrapper{
        flex-flow: column wrap;
    }
}